*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul,
ol,
li{
    list-style: none;
}
img{
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6{
    font-weight: inherit;
    font-size: inherit;
}
html,
body{
    height: 100%;
    line-height: 1;
}
body{
    font-family: 'Rubik', sans-serif;
    font-size: 12px;
    color: #616161;
}
.wrapper{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;

}

.main{
    flex: 1 1 auto;
}

.header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}
.header__container {
    display: flex;
    min-height: 114px;
    align-items: center;
}
.header__logo {
    position: relative;
    z-index: 5;
}
.header__menu {
    flex: 1 1 auto;
}
.menu {
    display: flex;
    justify-content: end;
    padding: 0px 40px 0px 0px;
}
.menu__list {
    display: flex;
    gap: 40px;
}

.menu__item {
}
.menu__link {
    font-family: Raleway;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 10px;
    line-height: 1.2;
    color: #000;
    letter-spacing: 1px;
}
.menu__link:hover{
    text-decoration: underline;
}

.header__button {
    position: relative;
    z-index: 5;
    flex: 0 0 252px;
    display: flex;
    justify-content: end;
    align-items: center;
}


.button {
    display: inline-block;
    font-family: Raleway;
    font-size: 10px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    color: #FCFDFE;
    padding: 13px 30px;
    background-color: #EC5863;
    border-radius: 5px;
    transition: background-color 0.3s ease 0s;
    
}
.button:hover{
    background-color: #f37a82;
}


.button_blue {
    background-color: #4285f4;
}
.button_blue:hover {
    background-color: #70a3f7;
}
.close-icon__menu,
.icon__menu{
    display: none;
}


[class*="__container"]{
    max-width: 1087px;
    margin: 0 auto;
    padding: 0 15px;
}

/*=====================================================*/

.main {
}
.get-started {
    background-color: #fafbfd;
}
.get-started__container {
    padding: 150px 15px 50px 15px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}
.get-started__container::before{
    content: '';
    position: absolute;
    width: 100vw;
    height: 100%;
    right: 252px;
    top: 0;
    background-color: #ec5863;
    border-radius: 30px 0px 0px 30px;
    transform: translate(100%,0);
}
.get-started__content {
    flex: 0 1 48%;
    padding: 0 20px 0 20px;
}
.get-started__block-text {
    max-width: 410px;
}

/*===============================================*/
.block-text {
}
.block-text_center{
    text-align: center;
}
.block-text__title {
    font-family: ;
    font-weight: 700;
    font-size: 44px;
    line-height: 126%;
    color: #000000;
}
.block-text__title:not(:last-child){
    margin-bottom: 12px;
}
.block-text__title span{
    color: #ec5863;
}
.block-text__title_blue span{
    color: #4285f4;
}
.block-text__text {
    line-height: 138.5%;
}
.block-text__text_mw{
    min-width: 620px;
    text-align: center;
}
.block-text__text:not(:last-child){
    margin-bottom: 24px;
}
.block-text__button {
}
/*===============================================*/

.get-started__video {
    flex: 1 1 100%;
    padding-left: 20px;
    padding-top: 60px;
}
.video-get-started {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}
.video-get-started__icon {
    flex: 0 0 44px;
}
.video-get-started__body {
    padding: 0 0 0 12px;
}
.video-get-started__title {
    color: #B0B0B0;
    font-size: 13px;
    line-height: 126%;
    letter-spacing: 1.5px;
}
.video-get-started__title:not(:last-child){
    margin-bottom: 5px;
}
.video-get-started__text {
    font-size: 9px;
    line-height: 126%;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #000;
}
.get-started__image {
    flex: 0 1 52%;
    position: relative;
    z-index: 2;
}
.get-started__image img{
    max-width: 100%;
}

/*==================================*/
.stay-safe {
    padding: 80px 0;
}
.stay-safe__container {
    display: flex;
    align-items: center;
}
.stay-safe__media {
    flex: 0 1 50%;
    padding-left: 47px;
}
.media-stay-safe {
    width: 373px;
    text-align: center;
    position: relative;
    padding: 56px 0 27px 0;
}
.media-stay-safe__image {
    display: inline-block;
    box-shadow: 2px 4px 32px rgba(0, 0, 0, 0.12);
    border-radius: 16px;
    position: relative;
    width: 61.5%;
}
.media-stay-safe__image img{
    position: relative;
    z-index: 2;
    max-width: 100%;
}
.media-stay-safe__image::after{
    content: '';
    position: absolute;
    width: 206px;
    height: 27px;
    background: rgba(240, 240, 240, 0.49);
    border-radius: 16px;
    bottom: -12px;
    left: 12px;
}
.stay-safe__content {
    flex: 0 1 50%;
}
.media-stay-safe__item {
    position: absolute;
    background-color: #EC5863;
    border-radius: 30px;
    width: 77px;
    height: 77px;
}
.media-stay-safe__item1 {
    top: 0;
    left: 0;
    width: 147px;
    height: 147px;
}
.media-stay-safe__item2 {
    bottom: 0;
    left: 33px;
}
.media-stay-safe__item3 {
    bottom: 107px;
    right: 34px;
}

/*===============================*/
.experts {
    background-color: #fafbfd;
    padding: 103px 0 116px 0;
}
.experts__container {
}
.expert__statistics {
    
}
.statistics-experts {
    max-width: 655px;
    margin: 0 auto;
    position: relative;
    margin-bottom: 80px;
}
.statistics-experts__blody {
    background-color: #fff; 
    box-shadow: 0px 2px 24px rgba(88,126,236,0.15);
    border-radius: 16px;    
    position: relative;
    z-index: 2;
}
.body-statistics-experts {
    padding: 25px 80px;
    display: flex;
    align-items: center;
}
.body-statistics-experts__item {
    flex: 1 1 25%;
    text-align: center;
}
.body-statistics-experts__item:last-child{
    flex: 0 1 50%;
}


.body-statistics-experts__value {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 1px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #EC5863;
    margin-bottom: 5px;
}
.body-statistics-experts__text {
    font-weight: 700;
    font-size: 11px;
    line-height: 1.8;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #000000;
}
.statistics-experts__decor {
    position: absolute;
    background-color: #ec5863;
    border-radius: 30px;
    
}
.statistics-experts__decor_1 {
    width: 65px;
    height: 65px;
    transform: rotate(-30deg);
    bottom: -21px;
    left: -21px;
    border-radius: 16px;
}
.statistics-experts__decor_2 {
    width: 97px;
    height: 97px;
    transform: rotate(30deg);
    right: 50%;
    top: -40px;
    border-radius: 16px;
}
.statistics-experts__decor_3 {
    width: 128px;
    height: 128px;
    transform: rotate(-30deg);
    right: -55px;
    top: 0;
    border-radius: 16px;
}

/*===================================*/
.experts__body {
    display: flex;
    align-items: center;
}
.experts__content {
    flex: 0 1 50%;
    padding-right: 20px;
}
.experts__block-text {
    max-width: 400px;
}
.experts__video {
padding-bottom: 32%;
position: relative;
}
.experts__video iframe{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}
/*==================================*/
.healthcare {
}
.healthcare__container {
    padding-top: 80px;
}
.healthcare__block-text {
    margin-bottom: 47px;
}
.healthcare__items {
    height: 100%;
    display: flex;
    max-width: 980px;
    gap: 72px;
    margin-bottom: 75px;
}
.healthcare__item {
    flex: 0 1   33.33333%;
}
.item-healthcare {
    background-color: #fff;
    box-shadow: 0px 4px 18px rgba(88,126,236,0.18);
    border-radius: 8px;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    padding: 35px 17px;
}
.item-healthcare-icon {
    margin-bottom: 58px;
}
.item-healthcare__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 138.5%;
    text-align: center;
    letter-spacing: 0.08em;
    margin-bottom: 4px;
}
.item-healthcare__text {
    line-height: 138.5%;
}

/*=========================================*/
.footer {
}
.footer__container {
    
}
.footer__items {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 55px;
}
.footer__item {
}

/* pc */
@media (max-width: 1057px ){
    [class*="__container"]{
        max-width: 970px;
    }
}

/* tablet */
@media (max-width: 991.98px ){
    [class*="__container"]{
        max-width: 750px;
    }

    .header__container{
        min-height: 80px;
    }

    .menu__list{
        gap: 30px;
    }

    .header__button{
        flex: 0 0 170px;
    }
    .get-started__container::before{
        right: 185px;
        border-radius: 20px 0 0 20px;
    }
    .stay-safe{
        padding: 40px 0;
    }
}

/* mobile */
@media (max-width: 767.98px ){
    [class*="__container"]{
        max-width: none;
    }
    .header__logo{
        flex: 0 0 40px;
        overflow: hidden;
    }
    .menu__body{
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: #fff;
        padding: 90px 15px 30px 15px;
        transition: left 0.3s ease 0s;
    }
    .header:target .menu__body{
        left: 0;
    }
    .header:target .menu__body::before{
        content: '';
        position: fixed;
        left: 0;
        top: 0;
        height: 80px;
        width: 100%;
        background-color: #fff;
    }
    .menu__list{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .menu__item{
        margin: 0 0 25px 0;
    }
    .menu__link{
        font-size: 20px;
    }
    .icon__menu{
        position: relative;
        flex: 0 0 30px;
        height: 18px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 20px;
    }
    .close-icon__menu{
        flex: 0 0 30px;
        height: 30px;
        position: relative;
        margin-left: 30px;
    }
    .icon__menu::before,
    .icon__menu::after{
        content: '';
        background-color: #000000;
        height: 2px;
    
    }
    
    .icon__menu span{
        background-color: #000000;
        height: 2px;
    }

    .close-icon__menu::before,
    .close-icon__menu::after{
        content: '';
        background-color: #000000;
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 2px;
        /* transform-origin: 0 0; */
    }
    .close-icon__menu::before{
        transform: rotate(-45deg);
    }
    .close-icon__menu::after{
        transform: rotate(45deg);
        
    }
    .header:target .icon__menu{
        display: none;
    }
    .header:target .close-icon__menu{
        display: flex;
    }
    .get-started__container{
        padding: 70px 15px 30px 15px;
    }
    .get-started__container::before{
        display: none;
    }
    .get-started__block-text{
        max-width: none;
    }
    .get-started__content{
        flex: 1 1 auto;
    }
    .get-started__image{
        flex: 1 1 100%;
        text-align: center;
        padding: 30px;
    }
    .get-started__video{
        padding: 0;
    }
    .stay-safe__container{
        flex-direction: column-reverse;
    }
    .stay-safe__content{
        margin-bottom: 30px;
    }
    .media-stay-safe{
        width: 290px;
    }
    .statistics-experts__blody{
        margin: 0 0 50px 0;
    }
    .body-statistics-experts{
        padding: 25px;
    }
    .experts__body{
        flex-direction: column;
    }
    .experts__video{
        padding-bottom: 58%;
    }
    .experts__content{
        padding: 0;
        margin-bottom: 30px;
    }
    .healthcare__items{
        flex-direction: column;
        gap: 45px;
    }
}